 /* Importation fonts */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

 /* Reset CSS */

 * {
     margin: 0;
     padding: 0;
     list-style-type: none;


 }

 /* Body */

 body {
     background-color: #f2f2f2;
     font-family: 'Inter', sans-serif;
 }

 /* NavBar */


 nav {
     background-color: #0785D9;
     height: 12vh;
     width: 100vw;
     display: flex;
     justify-content: space-between;
     color: white;
     font-family: 'Inter', sans-serif;
 }

 .left-menu {
     display: flex;
     align-items: center;
 }

 .left-menu ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 30vw;
     font-size: 20px;
     margin-left: 15px;
 }

 .right-menu {
     display: flex;
     align-items: center;
 }

 .right-menu ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 30vw;
     font-size: 20px;
     margin-right: 25px;
 }

 nav a {
     color: white;
     text-decoration: none;
     margin: 0 10px;
 }



 .logo {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 200px;
 }

 .logo img {
     width: 110px;
 }

 /* Carrousel */

 .carou {
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 30px;
 }

 .carou h1 {
     font-size: 35px;
     margin-bottom: 20px;
     text-transform: uppercase;
     text-align: center;
     font-weight: 900;
 }

 #carrousel {
     width: 1200Px;
     height: 550px;
     box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
     position: relative;
     overflow: hidden;
     border-radius: 10px;

 }

 #container {
     width: 1200px;
     height: 550px;
 }

 .photo {
     width: 1200px;
     height: 550px;
     margin: 0;
     display: inline-block;
     background-size: cover;
     background-position: center;
 }


 .button {
     position: absolute;
     width: 70px;
     cursor: pointer;
     top: 250px;
 }

 #left {
     left: 0;
     opacity: 0.5;
     transform: rotate(180deg);
     transition: all 0.5s ease;
 }

 #right {
     right: 0;
     opacity: 0.5;
     transform: rotate(0deg);
     transition: all 0.5s ease;
 }

 #left:hover {
     transform: rotate(180deg) scale(1.1);
     opacity: 1;
     transition: all 0.5s ease;
 }

 #right:hover {
     transform: rotate(0deg) scale(1.1);
     opacity: 1;
     transition: all 0.5s ease;
 }

 /* Section 1 */

 .resultHomePage {
     margin-top: 50px;
     width: 100vw;
     display: flex;
     flex-direction: column;
 }



 .resultHomePage .title {
     font-size: 23px;
     text-transform: uppercase;
     text-align: left;
     margin-left: 50px;
     font-weight: 900;
     padding-top: 20px;
 }

 .resultHomePage .title a {
     color: black;
     text-decoration: none;
     text-decoration: underline #0785D9;
 }

 .resultHomePage .containerResult {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 30px;
     margin-left: 50px;
     margin-right: 50px;
     padding-bottom: 50px;
 }

 .resultHomePage .containerResult .result {
     width: 350px;
     height: 230px;
     border-radius: 15px;
     box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);

 }



 .resultHomePage .containerResult .result .topResult {

     text-align: center;
     height: 50px;
     padding-top: 5px;
     font-size: 15px;
     font-weight: 700;
 }

 .resultHomePage .containerResult .result .centerResult img {
     width: 60px;

 }

 .resultHomePage .containerResult .result .centerResult {

     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     height: 120px;

 }

 .resultHomePage .containerResult .result .centerResult {
     font-size: 20px;
     font-weight: 900;
     color: rgb(0, 0, 0);
 }


 .resultHomePage .containerResult .result .bottomResult {
     text-align: center;
     height: 50px;
     font-size: 15px;
     font-weight: 700;
 }


 /* Section 2 */

 .matchHomePage {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}



.matchHomePage .title {
    font-size: 23px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;
    font-weight: 900;
    padding-top: 20px;
}

.matchHomePage .title a {
    color: black;
    text-decoration: none;
    text-decoration: underline #0785D9;
}

.matchHomePage .containerResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.matchHomePage .containerResult .result {
    width: 350px;
    height: 230px;
    border-radius: 15px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);

}



.matchHomePage .containerResult .result .topResult {

    text-align: center;
    height: 50px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 700;
}

.matchHomePage .containerResult .result .centerResult img {
    width: 60px;

}

.matchHomePage .containerResult .result .centerResult {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 120px;

}

.matchHomePage .containerResult .result .centerResult {
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}


.matchHomePage .containerResult .result .bottomResult {
    text-align: center;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
}

/* Section 3 */

.actuHomePage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    
}

.actuHomePage .containerActu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    
}



.actuHomePage .title {
    font-size: 23px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;
    font-weight: 900;
    padding-top: 20px;
}

.actuHomePage .title a {
    color: black;
    text-decoration: none;
    text-decoration: underline #0785D9;
}

.actuHomePage .Actu {
    width: 30%;
    height: 350px;
    background-image: url(../image/PIS-sport-en-fete-2018.jpg);
    border-radius: 15px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
    position: relative;
}

.actuHomePage .Actu .titleActu {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    padding-top: 10px;
}

.actuHomePage .Actu .textActu{
    font-size: 20px;
    font-weight: 700;
    height: 80px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #0785D9;
    color: white;
    border-radius: 0 0 15px 15px;

}


























































































/* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0785D9;
    color: white;
    width: 100vw;
    height: 30vh;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}

.footer{
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.leftFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 25vh;
}

.leftFooter img{
    width: 30px;
}

.leftFooter .titleFooter{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-transform: capitalize
}

.leftFooter .textFooter{
    width: 60%;
    font-size: 1rem;
    text-align: center;
    margin: 12px;

}

.centerFooter{
    font-size: 1.5rem;
    text-align: center;
    width: 30vw;
    margin: 15px;
}

.centerFooter a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.rightFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 25vh;
}

.rightFooter .titleFooter{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.rightFooter .textFooter{
    width: 60%;
    font-size: 1rem;
    text-align: center;
    margin: 12px;
}

.bottomFooter{
    width: 100vw;
    text-align: center;
    margin: 15px;
}
